<ul class="list-group" style="padding-left: 20px">
  <li class="list-group-item">
    {{input type="text" placeholder="New Activity" value=newActivityName insert-newline="createActivity" size="13"}}
    <button class="btn btn-primary btn-sm" {{action "createActivity"}} disabled={{disabled}}>Add</button>
  </li>
  {{#each model as |activity|}}
    {{#link-to "categories.category.activities.activity.events" activity.id tagName="li" class="list-group-item"}}
      {{activity.name}}
    {{/link-to}}
  {{/each}}
</ul>
