<div style="padding-left:20px">
<div class="panel panel-default" style="padding:20px; width:800px;">
    <h1>GTFriender</h1>
    <p>
      GTFriender is an application that is designed for students with limited schedules. Sometimes, school can get in the way of your favorite hobbies, or prevent you from being able to join clubs that conflict with your schedule. It can be hard to find ways to connect with other students that have the same interests and availability as you. GTFriender is a new way to create and join events taking place on your campus that are relevant to your interests.
    </p>
    <h3>How do I use GTFriender?</h3>
    <ol>
      <li>
        To begin, select a category. Categories are broad groups of activities that are similar, like "Sports" and "Video Games". If you don't see a category that describes your interests, you can create one!
      </li>
      <li>
        After you have selected a category, select an activity. Activities are more specific than a category, and in the "Sports" category you can find activities like "Baseball" or "Basketball". If you don't see an Activity that describes your interests, you can create one!
      </li>
      <li>
        Once you have selected an activity, a calendar of events will appear. You can click on these events to learn more information about them, or create your own!
      </li>
      <li>
        When creating an event, be sure to include all relevant details for anyone that may want to join the event.
      </li>
      <li>
        When joining an event, all you have to do is click the join button. Then just show up to the event and enjoy yourself!
      </li>
    </ol>
    <br><br><br>
    <p>GTFriender was created by Team 36 for Georgia Tech CoC Senior Design Spring 2016</p>
    {{outlet}}
</div>
</div>
