<div style="padding-left:20px">
<div class="panel panel-default" style="padding:20px; width:800px;">
    <h1>Alec Fenichel</h1>
    <span><b>Email Address:</b> alec.fenichel@gmail.com</span>
    <br>
    <span><b>Favorite Activities:</b> Baseball, Halo, Volleyball</span>
    <br>
    <br>
    <button class="btn btn-primary">Edit</button>
    {{outlet}}
</div>
</div>
